<div class="card-wrapper">
  <div id="card-1" class="card card-rotating text-center">

    <!-- Front Side -->
    <div class="face front">

      <!-- Image-->
      <img src='{{movie.poster}}' onerror="this.onerror=null;this.src='../../../assets/images/no-image.png';" class="card-img">

      

      <!-- Content -->
      <div class="card-body">
        Imdb id : {{movie.imdbID}}<br>
        Is Seen : {{movie.seen}}<br>
        Movie Year : {{movie.year}}<br>
        <!-- Triggering button -->
        <a class="rotate-btn" data-card="card-1"><i class="fas fa-redo-alt"></i> Click here to rotate</a>
      </div>




    </div>
    <!-- Front Side -->

    <!-- Back Side -->
    <div class="face back">
      <div class="card-body">

        <!-- Content -->
        <h4 class="font-weight-bold mb-0">About Movie</h4>
        <hr>
        <p>
         {{movie.plot}}
          <!-- Triggering button -->
          <a class="rotate-btn" data-card="card-1"><i class="fas fa-undo"></i> Click here to rotate back</a>

      </div>
    </div>
    <!-- Back Side -->

  </div>
</div>
<!-- Rotating card -->