<div class="row">

  <div class="col-md-4 col d-flex align-items-center justify-content-center">
    <img src='{{movie.poster}}' onerror="this.onerror=null;this.src='../../../assets/images/no-image.png';" class="card-img">
  </div>

  <form *ngIf="movie" #formInfo="ngForm" class="col-md-8" id="carData">

      <div class="form-row">
          <div class="col-md-6">
              <h2>{{movie.title}}</h2>
          </div>
      </div>

      <div class="form-row">
          <div class="col-md-6">
              <h5>Year : {{movie.year}}</h5>
          </div>
      </div>

      <div class="form-row">
          <div class="col-md-6">
              <h5>Plot : {{movie.plot}}</h5>
          </div>
      </div>

      <div class="form-row">
          <div class="col-md-6">
              <h5>Rated : {{movie.rated}}</h5>
          </div>
      </div>

      <div class="form-row">
          <div class="col-md-6">
              <h5>Seen : {{movie.seen}}</h5>
          </div>
      </div>

      <button type="button" class="btn btn-primary" (click)="DoCommand()">{{buttonText}}</button>

  </form>

</div>